header {
  background-color: unset;
}
/*Hero Styles*/
section.hero {
  min-height: 100vh;
  height: fit-content;
  padding: var(--padding-thick) var(--padding-thin);
  padding-top: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 5;
  overflow: hidden;
  color: var(--colour-text-primary);
  background: var(--colour-primary);
}

section.hero h2,
section.hero p {
  font-weight: lighter;
}
section.hero h2,
section.hero h1 {
  text-align: center;
}
section.hero h1 {
  font-weight: 500;
}
section.hero h1 strong {
  font-weight: 700;
  color: var(--colour-text-special);
}
section.hero h2 {
  padding: 0 var(--padding-thin);
}
button.hero-action-button {
  max-width: 25rem;
  height: max(4rem, calc(4vw + (var(--padding-thin) * 2)));
  max-height: 5rem;
  padding: var(--padding-thin);
  font-size: max(var(--font-xxl, calc(4vw + 1rem)));
  font-family: var(--font-family-default);
  font-weight: 300;
  color: var(--colour-text-primary);
  border-radius: var(--border-radius-standard);
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: all 0.2s linear;
  cursor: pointer;
  background: var(--colour-secondary);
}
button.hero-action-button:hover {
  scale: 1.1;
}
.hero-review {
  font-size: var(--font-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
.hero-review * {
  color: var(--colour-text-primary);
}
.hero-review i {
  color: orange;
}
.hero-review-info a {
  text-decoration: none;
}
.hero-slides {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-image: linear-gradient(
    to bottom right,
    transparent,
    var(--colour-primary) 40%
  );
  overflow: hidden;
}
.hero-slides img {
  position: absolute;
  width: max(120rem, 100%);
  max-width: 215rem;
  opacity: 70%;
  min-height: 100%;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
  aspect-ratio: 240/135;
  z-index: 1;
}
/* Seach section*/
section.search {
  position: relative;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.64rem;
  align-items: center;
  height: 340px;
  transition: height 0.25s linear;
  width: 100%;
  max-width: var(--page-content-width);
  margin: auto;
  border-radius: var(--border-radius-outer);
  overflow: hidden;
}
section.search::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 30%;
  background: var(--colour-night-black);
}
section.search button::before {
  transform: translate(4px, 6px);
  inset: 6px;
}
section.search h2 {
  color: var(--colour-text-primary);
}
form.search-form {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  column-gap: 0.25rem;
  max-width: 70rem;
  position: relative;
  z-index: 5;
  overflow: hidden;
  height: 200px;
  padding: var(--padding-thick) 0;
  transition: height 0.25s ease-in-out;
}
form.search-form select[lastElement] {
  grid-column: span 2;
  max-width: 35rem;
  width: 100%;
  margin: auto;
}
form.search-form button {
  font-family: var(--font-family-default);
  font-weight: 300;
  border: none;
  background: var(--colour-secondary);
  color: var(--colour-text-secondary);
  border-radius: 0.2rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-column: span 2;
  transition: all 0.2s linear;
  cursor: pointer;
  padding: 0.5rem;
  font-size: var(--font-lrg);
  max-width: 35rem;
  margin: auto;
}
form.search-form button:hover {
  background: var(--colour-primary);
}
button.search-button-more {
  font-size: var(--font-med);
  border-bottom: var(--border-size-standard) solid var(--colour-text-main);
  color: var(--colour-text-main);
}
button.search-button-more::before {
  content: none;
}
button.search-button-more {
  border-bottom: 2px solid var(--colour-text-primary);
  color: var(--colour-text-primary);
}
/* End of search section*/
/*End of Hero Styles*/
/*Start of Featured Vehicles*/
section.featured-vehicles {
  padding: var(--padding-thicker) 0;
  position: relative;
  text-align: center;
  color: var(--colour-text-main);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.featured-vehicles div {
  padding: 0 var(--padding-thicker);
}
.featured-vehicles-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.featured-vehicles-info h2 {
  font-size: var(--font-xl);
}
.featured-vehicles-info h3 {
  font-size: var(--font-med);
  color: var(--colour-storm-grey);
}
.featured-vehicles-categories {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0.64rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.featured-vehicles-categories button {
  font-size: var(--font-sm);
  border-bottom: 2px solid transparent;
  transition: all 0.25s linear;
}
.featured-vehicles-categories button::before {
  content: none;
}
.featured-vehicles-categories button:hover {
  color: var(--colour-secondary);
  border-bottom: 2px solid var(--colour-secondary);
}
/* .featured-vehicles-categories button.selected {
    color: var(--colour-secondary);
  } */
.featured-vehicles-categories button.selected,
.featured-vehicles-categories button:focus {
  color: var(--colour-secondary);
  scale: 1.512;
  margin: 0 1.24rem 0 1.24rem;
}

/*Start of carousel*/
.featured-vehicles div.featured-vehicles-carousel {
  padding: unset;
  position: relative;
  width: 100%;
  max-width: 64rem;
  aspect-ratio: 4/3;
  z-index: 5;
  margin: auto;
}
.featured-vehicles-carousel button.carousel-button {
  right: 100%;
  transform: translateX(100%);
  position: absolute;
  z-index: 5;
  font-size: 4rem;
  line-height: 25px;
  width: 100%;
  max-width: 4rem;
  background-color: transparent;
  border: var(--border-size-standard) solid transparent;
  background: none;
  backdrop-filter: blur(0px);
  height: 100%;
  color: transparent;
  transition: backdrop-filter 0.64s, border 0.64s, color 0.96s;
}
.featured-vehicles-carousel button.carousel-button::before {
  content: none;
}
.featured-vehicles-carousel button.carousel-button:hover {
  border: var(--border-size-standard) solid var(--colour-marble-blue);
  backdrop-filter: blur(3px);
  color: azure;
}
.featured-vehicles-carousel button.carousel-button-right {
  left: unset;
  transform: unset;
  right: 0%;
}
.featured-vehicles-carousel ul.carousel {
  width: 100%;
  aspect-ratio: 4/3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.featured-vehicles-carousel li.carCard {
  position: absolute;
  width: 100%;
  left: -100%;
  opacity: 0;
  z-index: -3;
  transition: opacity 1ms, left 650ms;
}
.featured-vehicles-carousel li.carCard::before {
  position: absolute;
  color: aliceblue;
  inset: 0 0 100% 0;
  opacity: 1;
  background-color: #40566195;
  display: flex;
  font-size: var(--font-lrg);
  flex-direction: column;
  align-items: center;
  padding-top: var(--padding-thin);
  justify-content: start;
  transition: inset 0.5s linear;
}
.featured-vehicles-carousel li.carCard:hover::before {
  position: absolute;
  inset: 0;
  content: attr(cartitle);
  color: aliceblue;
  opacity: 1;
  background-color: #40566195;
  display: flex;
  font-size: var(--font-lrg);
  flex-direction: column;
  align-items: center;
  padding-top: var(--padding-thin);
  justify-content: start;
}
.featured-vehicles-carousel li.carCard[data-active] {
  left: 0;
  opacity: 1;
  z-index: 1;
}
.featured-vehicles-carousel li.carCard[data-direction="right"] {
  left: -100%;
  opacity: 1;
  z-index: -1;
}
.featured-vehicles-carousel li.carCard[data-direction="left"] {
  left: 100%;
  opacity: 1;
  z-index: -1;
}
.featured-vehicles-carousel li.carCard[data-transition] {
  z-index: 2;
}
.featured-vehicles-carousel li.carCard a {
  position: absolute;
  display: block;
  inset: 0;
  z-index: 0;
}
.featured-vehicles-carousel li.carCard img {
  width: 100%;
}
/*End of carousel*/
/*End of Featured Vehicles*/
/*About Us Section*/
section.about-us {
  position: relative;
  padding: var(--padding-thicker);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.24rem;
  justify-content: center;
  align-items: center;
}
section.about-us div {
  display: flex;
  flex-direction: column;
  gap: 0.64rem;
  max-width: 64rem;
}
section.about-us h2,
section.about-us h3,
section.about-us p {
  font-weight: 400;
}
section.about-us strong {
  color: var(--colour-text-special);
  font-weight: bolder;
}
section.about-us h1,
section.about-us h2 {
  font-size: var(--font-xl);
}
section.about-us h2 {
  color: var(--colour-text-special);
}
section.about-us h3 {
  font-size: var(--font-lrg);
}
section.about-us p {
  font-size: var(--font-med);
  color: var(--colour-storm-grey);
}
section.about-us div:last-child {
  padding: var(--padding-thicker);
}
section.about-us button {
  color: var(--colour-text-primary);
  font-size: var(--font-med);
  border-radius: var(--border-radius-standard);
  background: var(--colour-secondary);
  padding: var(--padding-standard);
  transition: all 0.2s linear;
}

section.about-us button:hover {
  background: var(--colour-primary);
}
section.about-us div img {
  width: 100%;
}
/*End of About Us Section*/
/*Why Us Section*/
section.why-us {
  display: flex;
  flex-direction: column;
  gap: 1.24rem;
}
section.why-us div {
  margin-bottom: 1.24rem;
}
.why-us-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, min(22rem, 100%));
  gap: 2rem;
  width: 100%;
  max-width: calc(88rem + (2rem * 4));
  margin: auto;
  text-align: center;

  justify-content: center;
}
.why-us-grid .why-card {
  width: 100%;
  height: 23rem;
  display: flex;
  flex-direction: column;
  gap: 0.64rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.64rem;
  /* border-top: var(--border-size-standard) solid var(--colour-text-special); */
}
.why-us-grid .why-card * {
  height: 40%;
}
.why-us-grid .why-card .title {
  height: fit-content;
  width: fit-content;
}
.why-us-grid .why-card i {
  display: flex;
  font-size: 4rem;
  align-items: center;
  justify-content: center;
  color: var(--colour-text-special);
}
/*End of Why Us Section*/
/*Contact Us Section*/
section.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.24rem;
}
section.contact h3 {
  font-weight: 400;
  font-size: var(--font-med);
  color: var(--colour-text-special);
}
section.contact .google-map-location,
section.contact .contact-info {
  width: 100%;
  max-width: 45rem;

  padding: var(--padding-thicker);
}
section.contact .contact-info {
  margin-left: auto;
}
section.contact button {
  color: var(--colour-text-primary);
  font-size: var(--font-med);
  border-radius: var(--border-radius-standard);
  background: var(--colour-secondary);
  padding: var(--padding-standard);
  transition: all 0.2s linear;
}

section.contact button:hover {
  background: var(--colour-primary);
}

section.contact .contact-opening-times,
section.contact .contact-details {
  display: flex;
  flex-direction: column;
  gap: 0.64rem;
  margin-bottom: 1.24rem;
}
section.contact .google-map-location {
  height: 100%;
  aspect-ratio: 4/3;
  margin-right: auto;
}
/*End of Contact Us section*/
@media screen and (min-width: 64rem) {
}
@media screen and (min-width: 90rem) {
  section.hero {
    overflow: visible;
    padding-bottom: 12.4rem;
  }
  section.hero h1 {
    font-size: var(--font-xxl);
  }
  section.hero h2 {
    font-size: var(--font-xl);
  }
  main section.hero button.hero-action-button {
    font-size: 3.5rem;
    padding: 2.5rem 0.5rem;
    margin-top: 3rem;
  }
  main section.hero {
    min-height: calc(100vh - 10rem);
    margin-bottom: 7rem;
  }
  section.search {
    position: absolute;
    top: calc(100% - 15rem);
    height: 21.25rem !important;
    max-width: var(--page-content-width);
    margin: auto;
  }
  section.search::before {
    opacity: 95%;
    background: var(--colour-primary);
  }
  section.search form.search-form {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: fit-content !important;
    max-width: var(--page-content-width);
  }
  section.search form.search-form select {
    height: fit-content;
    grid-column: span 1;
  }

  section.search form.search-form select[lastElement],
  section.search form.search-form button {
    grid-column: span 1;
    margin: unset;
  }
  section.search form.search-form select {
    display: block !important;
  }
  section.search button.search-button-more {
    display: none;
  }
  /*Contact Section Queries*/
  section.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  section.contact .title {
    grid-column: span 2;
    margin-bottom: var(--padding-thicker);
  }
}
@media screen and (min-width: 124rem) {
  section.hero h1 {
    font-size: calc(var(--font-xxl) + 1rem);
  }
  section.hero h2 {
    font-size: calc(var(--font-xl) + 1rem);
  }
  section.search h2 {
    font-size: var(--font-xl);
  }
}
