@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  /* COLORS */
  /* bright set: */
  --colour-feta-white: #f1faee;
  --colour-pearlbush-grey: #e0e1dd;
  --colour-indigo-dye-blue: #01497c;
  /* Dark set */
  --colour-riverbed-blue: #405661;
  --colour-marble-blue: #597081;
  /* Current Colours*/
  --colour-main: var(--colour-feta-white);
  --colour-primary: var(--colour-pearlbush-grey);
  --colour-secondary: var(--colour-indigo-dye-blue);
  --color-text-main: black;
  --color-text-primary: black;
  --color-text-secondary: white;
  /* Fonts */
  --font-sm: 1rem;
  --font-med: 1.5rem;
  --font-lrg: 2rem;
  --font-xl: 3rem;
  --font-xxl: 4rem;

  --font-family-default: "Roboto", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  body {
    --colour-main: var(--colour-riverbed-blue);
    --colour-primary: var(--colour-marble-blue);
    --colour-secondary: var(--colour-indigo-dye-blue);
  }
} */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--colour-main);
  font-size: 16px;
  font-family: var(--font-family-default);
  overflow-x: hidden;
  font-weight: 300;
}
body strong {
  font-weight: 700;
}
body h1 {
  font-size: var(--font-lrg);
}
body h2 {
  font-size: var(--font-med);
}
body p {
  font-size: var(--font-sm);
}
/* header styles */
header {
  position: relative;
  z-index: 20;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15);
}
header nav.navBar {
  background-color: var(--colour-main);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
  max-height: 6rem;
}
header nav.navBar div.navBarLogo {
  aspect-ratio: 291/141;
  max-height: 6rem;
  max-width: 12rem;
  width: 25%;
}
header nav.navBar div.navBarLogo img {
  width: 100%;
  height: 100%;
}
header nav.navBar button.navBarExpandButton {
  aspect-ratio: 1/1;
  max-width: 3rem;
  width: 100%;
}
ul.navLinks {
  position: absolute;
  z-index: 1;
  top: 100%;
  text-decoration: none;
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 12fr;
  grid-auto-columns: 1fr;
  gap: 1rem;
  padding: 2rem 1rem;
  height: 100vh;
  width: 80%;
  left: -80%;
  background-color: var(--colour-primary);
  transition: left 0.25s linear;
}
ul.navLinks.open {
  left: 0;
}
ul.navLinks li {
  background: var(--colour-main);
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.3rem;
  position: relative;
  display: flex;
}
/* ul.navLinks li:first-child a,
ul.navLinks li:nth-child(3) a {
  align-items: ;
} */
ul.navLinks li:last-child {
  width: 100%;
  height: max(4rem, calc(4vw + 1rem));
  padding: 0.5rem;
  grid-column: span 3;
}
ul.navLinks li::before {
  content: "";
  position: absolute;
  inset: 5px;
  transform: translate(6px, 8px);
  z-index: -1;
  background: radial-gradient(ellipse at bottom, dimgray 70%, transparent);
  filter: blur(10px);
}
ul.navLinks li i.icon {
  position: absolute;
  inset: calc(60% - 7vw) 0 0 0;
  text-align: center;
  font-size: 7vw;
  color: var(--colour-secondary);
}

ul.navLinks li ul.navBarShowroomLinks {
  display: none;
}
ul.navLinks li a,
ul.navLinks li span {
  position: absolute;
  text-align: center;
  inset: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 4vw;
  color: var(--color-text-primary);
  font-weight: lighter;
  text-decoration: none;
  cursor: pointer;
}
ul.navLinks li span {
  align-items: center;
  font-size: max(4vw, var(--font-lrg));
}

/* end of header styles */

/* main styles */
main {
  position: relative;
  left: 0;
  transition: left 0.25s linear;
  min-height: 100vh;
  width: 100%;
  background: var(--colour-main);
}
main.navLinksisOpen {
  left: 80%;
}
main div.mainBlurMask {
  display: none;
  position: absolute;
  inset: 0;
  transition: opacity 0.25s;
  opacity: 0;
  z-index: 10;
  backdrop-filter: blur(4px);
}
main div.mainBlurMask.on {
  opacity: 1;
  display: block;
}
main div.headerLocationInfo {
  background-color: var(--colour-primary);
  width: 100%;
  height: fit-content;
  padding: 0.2rem;
  position: relative;
  z-index: 9;
}
main section.heroSection {
  height: fit-content;
  padding: 2rem 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  z-index: 5;
  overflow: hidden;
}
main section.heroSection div.heroDecorations {
  position: relative;
  z-index: -10;
}
main section.heroSection div.heroDecorations svg.circleOne {
  position: absolute;
  z-index: -5;
  width: 40vw;
  left: 5vw;
  top: -7vw;
}

main section.heroSection h2,
p {
  font-weight: lighter;
}
main section.heroSection h1 {
  font-weight: 5f00;
  text-align: center;
}
main section.heroSection h1 strong {
  font-weight: 700;
  color: var(--colour-indigo-dye-blue);
}
main section.heroSection h2 {
  text-align: center;
  padding: 0 0.5rem;
}
main section.heroSection button.heroCTAButton {
  position: relative;
  max-width: 25rem;
  height: max(4rem, calc(4vw + 1rem));
  max-height: 5.25rem;
  padding: 4vw 0.5rem;
  margin-top: 1rem;
  font-size: max(var(--font-lrg), calc(4vw + 1rem));
  font-family: var(--font-family-default);
  font-weight: 300;
  border: none;
  background: var(--colour-secondary);
  color: var(--color-text-secondary);
  border-radius: 4px;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: all 0.3s linear;
  cursor: pointer;
}
@media screen and (min-width: 64rem) {
  main section.heroSection button.heroCTAButton {
    font-size: 3.5rem;
    padding: 2.5rem 0.5rem;
  }
}
main section.heroSection button.heroCTAButton::before {
  content: "";
  position: absolute;
  inset: 5px;
  transform: translate(6px, 8px);
  z-index: -1;
  background: radial-gradient(ellipse at bottom, dimgray 70%, transparent);
  filter: blur(10px);
}
main section.heroSection button.heroCTAButton:hover {
  background-color: #405661;
  scale: 1.1;
}
main section.heroSection div.heroReviews {
  margin-top: 1rem;
  font-size: var(--font-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
main section.heroSection div.heroReviews span.numberOfStars {
  color: orange;
}
main
  section.heroSection
  div.heroReviews
  div.heroReviewsSiteNumber
  a.websiteLink,
main section.heroSection div.heroReviews span strong {
  color: var(--colour-secondary);
}
main
  section.heroSection
  div.heroReviews
  div.heroReviewsSiteNumber
  a.websiteLink {
  text-decoration: none;
}
main section.heroSection div.heroImage {
  margin-top: 2rem;
  position: relative;
  aspect-ratio: 1.5/1;
  width: 100%;
  max-height: 42rem;
  overflow: hidden-x;
  z-index: -2;
}
main section.heroSection div.heroImage img:first-child {
  position: absolute;
  width: 130%;
  max-width: 79rem;
  right: max(-35%, -20.5rem);
  height: 130%;
  max-height: 53rem;
  bottom: -15%;
  z-index: 1;
  visibility: visible;
}

main section.heroSection div.heroImage svg.circleOne {
  width: 100vw;
  max-width: 64rem;
  position: absolute;
  left: min(0%, 19.2rem);
  bottom: -10%;
  z-index: -1;
}
main section.heroSection div.heroImage svg.rectangleOne {
  width: 115vw;
  max-width: 98rem;
  position: absolute;
  bottom: max(-85vw, -86rem);
  z-index: -1;
  right: max(-10%, -11rem);
  transform: rotate(75deg);
}
main section.aboutUsSection {
  position: relative;
  z-index: 5;
  background-color: lightblue;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 0.5rem solid var(--colour-secondary);
}
main section.aboutUsSection div.aboutDecorations {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 64rem;
  margin: auto;
}
main section.aboutUsSection div.aboutDecorations img {
  aspect-ratio: 1/1;
  width: min(70vw, 70vh);
  max-width: 32rem;
  z-index: -1;
  opacity: 0.1;
}
main section.aboutUsSection h1,
main section.aboutUsSection h2,
main section.aboutUsSection p {
  color: var(--colour-riverbed-blue);
  text-align: center;
  font-weight: 300;
  width: 100%;
  max-width: 82rem;
  padding: 0 0.5rem;
  margin: auto;
}
main section.aboutUsSection h1 strong,
main section.aboutUsSection h2 strong {
  color: var(--colour-secondary);
}
main section.aboutUsSection h1 strong {
  font-size: calc(var(--font-xl) + 0.25rem);
}
main section.aboutUsSection h2 {
  font-size: calc(var(--font-lrg) + 0.25rem);
}

main section.aboutUsSection p {
  font-size: calc(var(--font-med) + 0.25rem);
}

main section.carSearchSection {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  height: 305px;
  transition: height 0.25s linear;
}
main section.carSearchSection h2 {
  color: #3c3c3c;
}
main section.carSearchSection form.carSearchForm {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  column-gap: 0.25rem;
  max-width: 70rem;
  position: relative;
  z-index: 5;
  overflow: hidden;
  height: 154px;
  transition: height 0.25s ease-in-out;
}

main section.carSearchSection button.carSearchMoreOptionsButton {
  outline: none;
  border: none;
  background: none;
  font-size: calc(var(--font-med) - 0.2rem);
  border-bottom: 2px solid black;
  color: #3c3c3c;
}
main section.carSearchSection button.carSearchMoreOptionsButton:hover {
  border-bottom: 2px solid var(--colour-secondary);
  color: var(--colour-secondary);
}
select {
  display: inline-block;
  font: inherit;
  line-height: 1.5;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
main section.carSearchSection form.carSearchForm select {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid var(--colour-primary);
  background: var(--colour-main);
  color: var(--colour-secondary);
  font-weight: 300;
  font-family: var(--font-family-default);
  cursor: pointer;
  position: relative;
}
main section.carSearchSection form.carSearchForm select {
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--colour-secondary) 50%
    ),
    linear-gradient(135deg, var(--colour-secondary) 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
main section.carSearchSection form.carSearchForm select:focus {
  color: var(--colour-secondary);
}

main section.carSearchSection form.carSearchForm select:focus {
  background-image: linear-gradient(
      45deg,
      var(--colour-secondary) 50%,
      transparent 50%
    ),
    linear-gradient(135deg, transparent 50%, var(--colour-secondary) 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: var(--colour-secondary);
  outline: 0;
}
main section.carSearchSection form.carSearchForm select[lastElement] {
  grid-column: span 2;
  max-width: 35rem;
  width: 100%;
  margin: auto;
}
main section.carSearchSection form.carSearchForm select option {
  font-weight: normal;
  display: block;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  padding: 0.25rem;
}
main section.carSearchSection form.carSearchForm button {
  font-family: var(--font-family-default);
  font-weight: 300;
  border: none;
  background: var(--colour-secondary);
  color: var(--color-text-secondary);
  border-radius: 4px;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-column: span 2;
  transition: all 0.3s linear;
  cursor: pointer;
  padding: 0.5rem;
  font-size: var(--font-lrg);
  max-width: 35rem;
  margin: auto;
  position: relative;
}
main section.carSearchSection form.carSearchForm button::before {
  content: "";
  position: absolute;
  inset: 2px;
  transform: translate(6px, 8px);
  z-index: -1;
  background: radial-gradient(ellipse at bottom, dimgray 70%, transparent);
  filter: blur(10px);
}
main section.contactSection {
  background: var(--colour-secondary);
  display: grid;
  grid: auto;
  color: var(--color-text-secondary);
  padding: 2rem 0;
  position: relative;
  z-index: 5;
}
main section.contactSection div {
  width: 100%;
  max-width: 64rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid var(--color-text-secondary);
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    transparent,
    var(--color-text-secondary),
    transparent
  );
  margin-bottom: 1rem;
}

main section.contactSection div h2,
main section.contactSection div h3 {
  margin-bottom: 0.5rem;
}
main section.contactSection div p:last-child {
  margin-bottom: 1rem;
}
main section.contactSection div h2 {
  font-size: var(--font-lrg);
  font-weight: 700;
}
main section.contactSection div h3 {
  font-size: var(--font-med);
  font-weight: 400;
}
main section.contactSection div p {
  font-size: calc(var(--font-sm) + 0.25rem);
  font-weight: 300;
}
main section.carCarouselSection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.2rem;
  align-items: center;
  place-items: center;
}
main section.carCArouselSection h1 {
  text-align: center;
}
main section.carCarouselSection div.carCarousel {
  position: relative;
  width: 100%;
  max-width: 50rem;
  aspect-ratio: 4/3;
  z-index: 5;
}
main section.carCarouselSection div.carCarousel button.carousel-button {
  position: absolute;
  z-index: 5;
  font-size: 4rem;
  line-height: 25px;
  width: 100%;
  max-width: 4rem;
  background-color: transparent;
  border: 2px solid transparent;
  backdrop-filter: blur(0px);
  height: 100%;
  color: transparent;
  transition: backdrop-filter 0.64s, border 0.64s, color 0.96s;
}
main section.carCarouselSection div.carCarousel button.carousel-button:hover {
  border: 2px solid var(--colour-marble-blue);
  backdrop-filter: blur(3px);
  color: azure;
}
main section.carCarouselSection div.carCarousel button.carousel-button-right {
  right: 0%;
}
main section.carCarouselSection div.carCarousel ul.carousel {
  width: 100%;
  aspect-ratio: 4/3;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/* @media screen and (min-width: 64rem) {
  main section.carCarouselSection div.carCarousel ul.carousel {
    overflow: visible;
  }
} */

main section.carCarouselSection div.carCarousel li.carCard {
  position: absolute;
  width: 100%;
  left: -100%;
  opacity: 0;
  z-index: -3;
  transition: opacity 1ms, left 650ms;
}
main section.carCarouselSection div.carCarousel li.carCard::before {
  position: absolute;
  color: aliceblue;
  inset: 0 0 100% 0;
  opacity: 1;
  background-color: #40566195;
  display: flex;
  font-size: var(--font-lrg);
  flex-direction: column;
  align-items: center;
  padding-top: 0.35rem;
  justify-content: start;
  transition: inset 0.5s linear;
}
main section.carCarouselSection div.carCarousel li.carCard:hover::before {
  position: absolute;
  inset: 0;
  content: attr(cartitle);
  color: aliceblue;
  opacity: 1;
  background-color: #40566195;
  display: flex;
  font-size: var(--font-lrg);
  flex-direction: column;
  align-items: center;
  padding-top: 0.35rem;
  justify-content: start;
}
main section.carCarouselSection div.carCarousel li.carCard[data-active] {
  left: 0;
  opacity: 1;
  z-index: 1;
}

main
  section.carCarouselSection
  div.carCarousel
  li.carCard[data-direction="right"] {
  left: -100%;
  opacity: 1;
  z-index: -1;
  /*   scale: 0.96;
  opacity: 0.6; */
}
main
  section.carCarouselSection
  div.carCarousel
  li.carCard[data-direction="left"] {
  left: 100%;
  opacity: 1;
  z-index: -1;
  /* scale: 0.96;
  opacity: 0.6; */
}
main section.carCarouselSection div.carCarousel li.carCard[data-transition] {
  z-index: 2;
}
main section.carCarouselSection div.carCarousel li.carCard a {
  position: absolute;
  display: block;
  inset: 0;
  z-index: 0;
}
main section.carCarouselSection div.carCarousel li.carCard img {
  width: 100%;
}

/* end of main styles */
/* footer styles*/
footer section.footerGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  position: relative;
  padding: 2rem 0.5rem;
  z-index: 5;
  text-align: center;
  background-color: var(--colour-primary);
}
footer section.footerGrid,
footer section.footerGrid * {
  color: dimgray;
  text-decoration: none;
}
/* footerGrid */
