@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  /* COLORS */
  /* bright set: */
  --colour-feta-white: #f1faee;
  --colour-pearlbush-grey: #e0e1dd;
  --colour-indigo-dye-blue: #01497c;
  --colour-atomic-tangerine-orange: #f7a072;
  --colour-saffron-yellow: #eeb902;
  --colour-tropical-indigo-purple: #9893da;

  /* Dark set */
  --colour-riverbed-blue: #405661;
  --colour-marble-blue: #597081;
  /* Current Colours*/
  --colour-main: var(--colour-feta-white);
  --colour-primary: var(--colour-atomic-tangerine-orange);
  --colour-secondary: var(--colour-indigo-dye-blue);
  --color-text-main: black;
  --color-text-primary: black;
  --color-text-secondary: white;
  /* Fonts */
  --font-sm: 1rem;
  --font-med: 1.5rem;
  --font-lrg: 2rem;
  --font-xl: 3rem;
  --font-xxl: 4rem;

  --font-family-default: "Roboto", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  body {
    --colour-main: var(--colour-riverbed-blue);
    --colour-primary: var(--colour-marble-blue);
    --colour-secondary: var(--colour-indigo-dye-blue);
  }
} */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--colour-main);
  font-size: 16px;
  font-family: var(--font-family-default);
  overflow-x: hidden;
  font-weight: 300;
}
body strong {
  font-weight: 700;
}
body h1 {
  font-size: var(--font-lrg);
}
body h2 {
  font-size: var(--font-med);
}
body p {
  font-size: var(--font-sm);
}
/* header styles */

header {
  position: relative;
  z-index: 20;
  height: 5rem;
}
header::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    to right,
    var(--colour-indigo-dye-blue),
    var(--colour-tropical-indigo-purple) 20%,
    var(--colour-saffron-yellow) 60%
  );
  z-index: 1;
}

header nav.navBar {
  background-color: var(--colour-main);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 100%;
}
header nav.navBar div.navBarLogo {
  aspect-ratio: 291/141;
  max-height: 6rem;
  max-width: 12rem;
  width: 25%;
  position: relative;
}
header nav.navBar div.navBarLogo a {
  position: absolute;
  inset: 0;
}
header nav.navBar div.navBarLogo img {
  width: 100%;
  height: 100%;
}
button.navBarExpandButton {
  aspect-ratio: 1/1;
  max-width: 3rem;
  width: 100%;
  position: relative;
  z-index: 0;
  background: none;
  outline: none;
  border: none;
}
button.navBarExpandButton::before,
button.navBarExpandButton::after {
  content: "";
  left: 0;
  transition: transform 0.25s;
}
button.navBarExpandButton::before,
button.navBarExpandButton::after,
button.navBarExpandButton div.bar {
  position: absolute;
  height: 20%;
  width: 100%;
  background: var(--colour-primary);
  border-radius: 0.25rem;
}

button.navBarExpandButton::before {
  top: 10%;
}
button.navBarExpandButton::after {
  bottom: 10%;
}
button.navBarExpandButton.active::before {
  transform: translateY(150%) rotate(405deg);
}
button.navBarExpandButton.active::after {
  transform: translateY(-150%) rotate(-405deg);
}
button.navBarExpandButton div.bar {
  z-index: 1;
  transform: translateY(-50%);
  opacity: 1;
  transition: opacity 0.25s;
}
button.navBarExpandButton div.bar.active {
  opacity: 0;
}
ul.navLinks {
  position: absolute;
  z-index: 1;
  top: 100%;
  text-decoration: none;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 21vw);
  grid-auto-rows: 21vw;
  gap: 1rem;
  padding: 2rem 1rem;
  height: calc(100vh - 5rem);
  width: 80%;
  left: -80%;
  background: linear-gradient(
    to bottom,
    var(--colour-main) 87.5%,
    var(--colour-indigo-dye-blue) 87.5% 90%,
    var(--colour-tropical-indigo-purple) 90% 92.5%,
    var(--colour-saffron-yellow) 92.5% 95%,
    var(--colour-main) 95%
  );
  transition: left 0.25s linear;
}
ul.navLinks.open {
  left: 0;
}
ul.navLinks li {
  background: var(--colour-main);
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.3rem;
  position: relative;
  display: flex;
}

ul.navLinks li::before {
  content: "";
  position: absolute;
  inset: 5px;
  transform: translate(6px, 8px);
  z-index: -2;
  background: radial-gradient(ellipse at bottom, dimgray 70%, transparent);
  filter: blur(10px);
}
ul.navLinks li::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 0.5rem;
  background: conic-gradient(
    var(--colour-atomic-tangerine-orange),
    var(--colour-tropical-indigo-purple),
    var(--colour-saffron-yellow),
    var(--colour-atomic-tangerine-orange)
  );
  z-index: -1;
}
ul.navLinks li i.icon {
  position: absolute;
  inset: calc(60% - 7vw) 0 0 0;
  text-align: center;
  font-size: 7vw;
  color: var(--colour-atomic-tangerine-orange);
}

ul.navLinks li ul.navBarShowroomLinks {
  display: none;
}
ul.navLinks li a,
ul.navLinks li span {
  position: absolute;
  text-align: center;
  inset: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 4vw;
  color: var(--color-text-primary);
  font-weight: lighter;
  text-decoration: none;
  cursor: pointer;
}
ul.navLinks li span {
  align-items: center;
  font-size: max(4vw, var(--font-lrg));
}

/* end of header styles */

/* main styles */
main {
  position: relative;
  left: 0;
  transition: left 0.25s linear;
  min-height: 100vh;
  width: 100%;
  background: var(--colour-main);
}
main.navLinksisOpen {
  left: 80%;
}
main div.mainBlurMask {
  display: none;
  position: absolute;
  inset: 0;
  transition: opacity 0.25s;
  opacity: 0;
  z-index: 10;
  backdrop-filter: blur(4px);
}
main div.mainBlurMask.on {
  opacity: 1;
  display: block;
}

section.slide-carousel,
main section.carCarouselSection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.2rem;
  align-items: center;
  place-items: center;
}

main section.carCArouselSection h1 {
  text-align: center;
}
section.slide-carousel .carCarousel,
main section.carCarouselSection div.carCarousel {
  position: relative;
  width: 100%;
  max-width: 50rem;
  aspect-ratio: 4/3;
  z-index: 5;
}
section.slide-carousel .carCarousel .carousel-button,
main section.carCarouselSection div.carCarousel button.carousel-button {
  position: absolute;
  z-index: 5;
  font-size: 4rem;
  line-height: 25px;
  width: 100%;
  max-width: 4rem;
  background-color: transparent;
  border: 2px solid transparent;
  backdrop-filter: blur(0px);
  height: 100%;
  color: transparent;
  transition: backdrop-filter 0.64s, border 0.64s, color 0.96s;
}
section.slide-carousel .carCarousel .carousel-button:hover,
main section.carCarouselSection div.carCarousel button.carousel-button:hover {
  border: 2px solid var(--colour-marble-blue);
  backdrop-filter: blur(3px);
  color: azure;
}
section.slide-carousel .carCarousel .carousel-button-right,
main section.carCarouselSection div.carCarousel button.carousel-button-right {
  right: 0%;
}
section.slide-carousel .carCarousel ul.carousel,
main section.carCarouselSection div.carCarousel ul.carousel {
  width: 100%;
  aspect-ratio: 4/3;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/* @media screen and (min-width: 64rem) {
  main section.carCarouselSection div.carCarousel ul.carousel {
    overflow: visible;
  }
} */
section.slide-carousel .carCarousel .carCard,
main section.carCarouselSection div.carCarousel li.carCard {
  position: absolute;
  width: 100%;
  left: -100%;
  opacity: 0;
  z-index: -3;
  transition: opacity 1ms, left 650ms;
}

section.slide-carousel .carCarousel .carCard::before,
main section.carCarouselSection div.carCarousel li.carCard::before {
  position: absolute;
  color: aliceblue;
  inset: 0 0 100% 0;
  opacity: 1;
  background-color: #40566195;
  display: flex;
  font-size: var(--font-lrg);
  flex-direction: column;
  align-items: center;
  padding-top: 0.35rem;
  justify-content: start;
  transition: inset 0.5s linear;
}
section.slide-carousel .carCarousel .carCard:hover::before,
main section.carCarouselSection div.carCarousel li.carCard:hover::before {
  position: absolute;
  inset: 0;
  content: attr(cartitle);
  color: aliceblue;
  opacity: 1;
  background-color: #40566195;
  display: flex;
  font-size: var(--font-lrg);
  flex-direction: column;
  align-items: center;
  padding-top: 0.35rem;
  justify-content: start;
}
section.slide-carousel .carCarousel .carCard[data-active],
main section.carCarouselSection div.carCarousel li.carCard[data-active] {
  left: 0;
  opacity: 1;
  z-index: 1;
}

section.slide-carousel .carCarousel .carCard[data-direction="right"],
main
  section.carCarouselSection
  div.carCarousel
  li.carCard[data-direction="right"] {
  left: -100%;
  opacity: 1;
  z-index: -1;
  /*   scale: 0.96;
  opacity: 0.6; */
}
section.slide-carousel .carCarousel .carCard[data-direction="left"],
main
  section.carCarouselSection
  div.carCarousel
  li.carCard[data-direction="left"] {
  left: 100%;
  opacity: 1;
  z-index: -1;
  /* scale: 0.96;
  opacity: 0.6; */
}
section.slide-carousel .carCarousel .carCard[data-transition],
main section.carCarouselSection div.carCarousel li.carCard[data-transition] {
  z-index: 2;
}
section.slide-carousel .carCarousel .carCard a,
main section.carCarouselSection div.carCarousel li.carCard a {
  position: absolute;
  display: block;
  inset: 0;
  z-index: 0;
}
section.slide-carousel .carCarousel .carCard img,
main section.carCarouselSection div.carCarousel li.carCard img {
  width: 100%;
}

/* end of main styles */
/* footer styles*/
footer section.footerGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  position: relative;
  padding: 2rem 0.5rem;
  z-index: 5;
  text-align: center;
  background-color: lightblue;
}
footer section.footerGrid,
footer section.footerGrid * {
  color: dimgray;
  text-decoration: none;
}
/* footerGrid */
@media screen and (min-width: 64rem) {
  ul.navLinks {
    padding: 1rem 1rem;
    top: 0;
    left: 15%;
    bottom: 0;
    right: 0;
    height: 5rem;
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background: none;
    text-wrap: nowrap;
  }
  ul.navLinks li {
    aspect-ratio: unset;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    justify-content: space-around;
  }
  ul.navLinks li i.icon {
    position: static;
    text-align: center;
    font-size: 3rem;
    inset: unset;
    color: var(--colour-secondary);
  }
  ul.navLinks li a {
    position: static;
    text-align: center;
    font-size: var(--font-lrg);
    inset: unset;
  }
}
